<h1>Listing high_scores</h1>

<table>
  <tr>
    <th>Score</th>
    <th>Full name</th>
  </tr>

<% for high_score in @high_scores %>
  <tr>
    <td><%=h high_score.score %></td>
    <td><%=h high_score.full_name %></td>
    <td><%= link_to 'Show', high_score %></td>
    <td><%= link_to 'Edit', edit_high_score_path(high_score) %></td>
    <td><%= link_to 'Destroy', high_score, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New high_score', new_high_score_path %>
